node_modules
.DS_Store
/dist
/release
/out
/target
/.vite
/.cache
/coverage
/tmp
*.log
*.tgz
/runtime/gpu-runtime/target
/resources/runtime-assets/bin/*
/resources/runtime-assets/models/*
/runtime/assets/bin/*
/runtime/assets/models/*

sample/